<% flash.each do |type, msg| %>
  <div class="flash-msg <%= type %> inline-block bg-green-400 py-1 px-10">
    <%= msg %><br/>
  </div>
<% end %>

<div class="w-full">
  <div class="flex justify-around items-center">
    <h1  class="title">Show Client</h1>
    <div class="acction-btns">
      <%= link_to 'Back', clients_url, class: 'btn-xs-gray'%>
      <%= link_to 'Edit', @client, class: 'btn-xs-blue'%>
    </div>
  </div>
</div>


